{
  "openapi": "3.0.1",
  "info": {
    "title": "LOOKY API Server",
    "description": "API 명세서",
    "version": "v1.0.0"
  },
  "servers": [
    { "url": "http://api.looky.kr", "description": "Generated server url" }
  ],
  "security": [{ "JWT Authentication": [] }],
  "tags": [
    { "name": "MyPage", "description": "마이페이지 관련 API" },
    { "name": "Store", "description": "상점 관련 API" },
    { "name": "Coupon", "description": "쿠폰 관련 API" },
    {
      "name": "Admin Partnership",
      "description": "관리자 제휴 관련 API (일반/엑셀)"
    },
    { "name": "ItemCategory", "description": "상품 카테고리 관련 API" },
    { "name": "Health Check", "description": "서버 상태 확인 API" },
    { "name": "Organization", "description": "대학 소속 관리 API" },
    { "name": "Auth", "description": "인증 관련 API" },
    { "name": "Item", "description": "상품 관련 API" },
    { "name": "Admin", "description": "관리자 API" },
    { "name": "Favorite", "description": "단골 상점(즐겨찾기) 관련 API" },
    { "name": "Admin Event", "description": "관리자 이벤트 관리 API" },
    { "name": "Admin Inquiry", "description": "관리자 문의 관리 API" },
    { "name": "StoreClaim", "description": "상점 소유권 등록 API" },
    { "name": "StoreNews", "description": "가게 소식 관련 API" },
    { "name": "StoreClaim", "description": "상점 소유권 요청 심사 API" },
    { "name": "Review", "description": "리뷰 관련 API" },
    { "name": "Event", "description": "이벤트 조회 API" },
    { "name": "University", "description": "대학 관리 API" }
  ],
  "paths": {
    "/api/mypage/student/profile": {
      "put": {
        "tags": ["MyPage"],
        "summary": "[학생] 프로필 수정",
        "description": "학생의 프로필(닉네임, 단과대, 학과, 동아리 가입여부)을 수정합니다. 대학 변경은 별도 API 사용.",
        "operationId": "updateStudentProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudentProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "학생 회원이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 조직 카테고리 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "프로필 수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/universities": {
      "get": {
        "tags": ["University"],
        "summary": "[공통] 대학 목록 조회",
        "description": "전체 대학 목록을 조회합니다.",
        "operationId": "getUniversities",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseListUniversityResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["University"],
        "summary": "[관리자] 대학 등록",
        "description": "새로운 대학을 등록합니다.",
        "operationId": "createUniversity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUniversityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/universities/{universityId}/organizations": {
      "get": {
        "tags": ["Organization"],
        "summary": "[공통] 특정 대학의 소속 목록 조회",
        "description": "대학의 모든 소속을 조회합니다.",
        "operationId": "getOrganizations",
        "parameters": [
          {
            "name": "universityId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseListOrganizationResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Organization"],
        "summary": "[학생회] 특정 대학에 소속 등록",
        "description": "대학에 새로운 소속(단과대, 학과 등)을 등록합니다.",
        "operationId": "createOrganization",
        "parameters": [
          {
            "name": "universityId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/stores": {
      "get": {
        "tags": ["Store"],
        "summary": "[학생] 상점 목록 조회",
        "description": "전체 상점 목록을 페이징하여 조회합니다.",
        "operationId": "getStores",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "검색 키워드 (상점 이름)",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "카테고리 필터 (복수 선택 가능)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "BAR",
                  "CAFE",
                  "RESTAURANT",
                  "ENTERTAINMENT",
                  "BEAUTY_HEALTH",
                  "ETC"
                ]
              }
            }
          },
          {
            "name": "moods",
            "in": "query",
            "description": "분위기 필터 (복수 선택 가능)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SOLO_DINING",
                  "GROUP_GATHERING",
                  "LATE_NIGHT",
                  "ROMANTIC"
                ]
              }
            }
          },
          {
            "name": "universityId",
            "in": "query",
            "description": "대학(상권) ID 필터",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pageable",
            "in": "query",
            "description": "페이징 정보 (page, size, sort)",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "상점 목록 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponsePageResponseStoreResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Store"],
        "summary": "[점주] 상점 등록",
        "description": "새로운 상점을 등록합니다.",
        "operationId": "createStore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["images", "request"],
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "description": "상품 이미지 목록",
                    "items": { "type": "string", "format": "binary" }
                  },
                  "request": {
                    "$ref": "#/components/schemas/CreateStoreRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "상점 등록 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 상점 이름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/reviews": {
      "get": {
        "tags": ["Review"],
        "summary": "[공통] 상점 리뷰 목록 조회",
        "description": "특정 상점의 리뷰 목록을 페이징하여 조회합니다.",
        "operationId": "getReviews",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pageable",
            "in": "query",
            "description": "페이징 정보",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponsePageResponseReviewResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Review"],
        "summary": "[공통] 리뷰 및 답글 작성",
        "description": "상점에 대한 리뷰(학생) 또는 답글(점주, 학생)을 작성합니다.",
        "operationId": "createReview",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateReviewRequest"
                  },
                  "images": {
                    "type": "array",
                    "description": "리뷰 이미지 목록",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "409": {
            "description": "이미 작성된 리뷰 존재",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 또는 원본 리뷰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "리뷰/답글 작성 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (점주의 일반 리뷰 작성 등)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/reports": {
      "post": {
        "tags": ["Store"],
        "summary": "[학생] 상점 신고",
        "description": "특정 상점을 신고합니다.",
        "operationId": "reportStore",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StoreReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "상점 신고 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "409": {
            "description": "이미 신고한 상점",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/news": {
      "get": {
        "tags": ["StoreNews"],
        "summary": "[공통] 소식 목록 조회",
        "description": "가게의 소식 목록을 조회합니다.",
        "operationId": "getStoreNewsList",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "가게 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pageable",
            "in": "query",
            "description": "페이징 정보 (page, size, sort)",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponsePageResponseStoreNewsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["StoreNews"],
        "summary": "[점주] 소식 등록",
        "description": "가게에 새로운 소식을 등록합니다.",
        "operationId": "createStoreNews",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "가게 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "description": "소식 이미지 목록",
                    "items": { "type": "string", "format": "binary" }
                  },
                  "request": {
                    "$ref": "#/components/schemas/CreateStoreNewsRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "가게 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "201": {
            "description": "소식 등록 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 가게 아님)",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/items": {
      "get": {
        "tags": ["Item"],
        "summary": "[공통] 상점별 상품 목록 조회",
        "description": "특정 상점의 모든 상품을 조회합니다.",
        "operationId": "getItems",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseListItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Item"],
        "summary": "[점주] 상품 등록",
        "description": "상점에 새로운 상품을 등록합니다. (본인 상점만 가능)",
        "operationId": "createItem",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상품 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["image", "request"],
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "상품 이미지",
                    "format": "binary"
                  },
                  "request": {
                    "$ref": "#/components/schemas/CreateItemRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "상품 등록 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/item-categories": {
      "get": {
        "tags": ["ItemCategory"],
        "summary": "[공통] 상품 카테고리 목록 조회",
        "description": "매장의 상품 카테고리 목록을 조회합니다.",
        "operationId": "getItemCategories",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseListItemCategory"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["ItemCategory"],
        "summary": "[점주] 상품 카테고리 등록",
        "description": "매장에 새로운 상품 카테고리를 등록합니다.",
        "operationId": "createItemCategory",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": { "type": "string" }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "카테고리 등록 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "404": {
            "description": "매장 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/favorites": {
      "post": {
        "tags": ["Favorite"],
        "summary": "[학생] 상점 즐겨찾기 추가",
        "description": "특정 상점을 단골 상점으로 등록합니다.",
        "operationId": "addFavorite",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "400": {
            "description": "본인 상점",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "즐겨찾기 추가 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "409": {
            "description": "이미 추가된 상점",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Favorite"],
        "summary": "[학생] 상점 즐겨찾기 취소",
        "description": "단골 상점 등록을 취소합니다.",
        "operationId": "removeFavorite",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "204": {
            "description": "즐겨찾기 취소 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/coupons": {
      "get": {
        "tags": ["Coupon"],
        "summary": "[공통] 상점별 쿠폰 목록 조회",
        "description": "특정 상점의 모든 쿠폰을 조회합니다.",
        "operationId": "getCouponsByStore",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseListCouponResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Coupon"],
        "summary": "[점주] 쿠폰 생성",
        "description": "상점의 새로운 쿠폰을 생성합니다.",
        "operationId": "createCoupon",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCouponRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "쿠폰 생성 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터 (타 상점 물품 등)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/coupons/verify": {
      "post": {
        "tags": ["Coupon"],
        "summary": "[점주] 쿠폰 사용 확인 (코드 검증)",
        "description": "손님이 제시한 4자리 코드를 입력하여 사용 처리합니다.",
        "operationId": "verifyCoupon",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/VerifyCouponRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "유효하지 않은 코드 또는 활성화되지 않은 쿠폰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "쿠폰 사용 완료",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/store-news/{newsId}/likes": {
      "post": {
        "tags": ["StoreNews"],
        "summary": "[공통] 소식 좋아요 토글",
        "description": "소식에 좋아요를 누르거나 취소합니다.",
        "operationId": "toggleLike",
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "소식 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/store-news/{newsId}/comments": {
      "get": {
        "tags": ["StoreNews"],
        "summary": "[공통] 댓글 목록 조회",
        "description": "소식의 댓글 목록을 조회합니다.",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "소식 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "pageable",
            "in": "query",
            "description": "페이징 정보",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponsePageResponseStoreNewsCommentResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["StoreNews"],
        "summary": "[공통] 댓글 작성",
        "description": "소식에 댓글을 작성합니다.",
        "operationId": "createComment",
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "소식 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStoreNewsCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/store-claims": {
      "post": {
        "tags": ["StoreClaim"],
        "summary": "[점주] 상점 소유 요청 등록",
        "description": "사장님이 상점에 대해 소유를 요청하여 심사 대상이 됩니다.",
        "operationId": "createStoreClaims",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["image", "request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/StoreClaimRequest"
                  },
                  "image": {
                    "type": "string",
                    "description": "사업자등록증 이미지",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/reviews/{reviewId}/reports": {
      "post": {
        "tags": ["Review"],
        "summary": "[공통] 리뷰 신고 ",
        "description": "특정 리뷰를 신고합니다.",
        "operationId": "reportReview",
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "description": "리뷰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReportRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "리뷰 신고 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "404": {
            "description": "리뷰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/reviews/{reviewId}/likes": {
      "post": {
        "tags": ["Review"],
        "summary": "[공통] 리뷰 좋아요",
        "description": "리뷰에 좋아요를 누릅니다.",
        "operationId": "addLike",
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "description": "리뷰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "400": {
            "description": "자신의 리뷰에 좋아요 시도",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 좋아요 누름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "리뷰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "리뷰 좋아요 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Review"],
        "summary": "[공통] 리뷰 좋아요 취소",
        "description": "리뷰 좋아요를 취소합니다.",
        "operationId": "removeLike",
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "description": "리뷰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "404": {
            "description": "좋아요를 누르지 않은 리뷰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "리뷰 좋아요 취소 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/organizations/{organizationId}/membership": {
      "post": {
        "tags": ["Organization"],
        "summary": "[학생] 소속 가입",
        "description": "학생이 특정 소속에 가입합니다.",
        "operationId": "joinOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Organization"],
        "summary": "[학생] 소속 탈퇴",
        "description": "학생이 특정 소속에서 탈퇴합니다.",
        "operationId": "leaveOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Organization"],
        "summary": "[학생] 소속 변경",
        "description": "학생이 소속을 변경합니다. (기존 동종 소속 자동 탈퇴)",
        "operationId": "changeOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/mypage/student/university": {
      "post": {
        "tags": ["MyPage"],
        "summary": "[학생] 대학 변경",
        "description": "학생의 소속 대학을 변경합니다. (기존 단과대/학과는 초기화됨)",
        "operationId": "updateUniversity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUniversityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "대학 변경 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "403": {
            "description": "학생 회원이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "대학 정보 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mypage/change-username": {
      "post": {
        "tags": ["MyPage"],
        "summary": "[공통] 아이디 변경",
        "description": "사용자의 아이디를 변경합니다.",
        "operationId": "changeUsername",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChangeUsernameRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "아이디 변경 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 아이디",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mypage/change-password": {
      "post": {
        "tags": ["MyPage"],
        "summary": "[공통] 비밀번호 변경",
        "description": "사용자의 비밀번호를 변경합니다.",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChangePasswordRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "현재 비밀번호 불일치",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "비밀번호 변경 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/my-coupons/{studentCouponId}/activate": {
      "post": {
        "tags": ["Coupon"],
        "summary": "[학생] 쿠폰 코드 발급",
        "description": "매장에서 사용하기 위해 쿠폰을 활성화하고 4자리 코드를 발급받습니다.",
        "operationId": "activateCoupon",
        "parameters": [
          {
            "name": "studentCouponId",
            "in": "path",
            "description": "사용자 쿠폰 ID (issue ID)",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "409": {
            "description": "이미 사용된 쿠폰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "쿠폰 활성화 성공 (코드 반환)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "422": {
            "description": "유효기간 만료",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "발급된 쿠폰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/inquiries": {
      "get": {
        "tags": ["고객센터 API"],
        "summary": "내 문의 목록 조회",
        "description": "내가 작성한 문의 목록을 조회합니다.",
        "operationId": "getInquiries",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "description": "페이징 정보",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Pageable" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponsePageInquiryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["고객센터 API"],
        "summary": "문의하기",
        "description": "고객센터에 문의를 등록합니다.",
        "operationId": "createInquiry",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateInquiryRequest"
                  },
                  "images": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패 (제목 길이, 이미지 개수 초과 등)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/coupons/{couponId}/issue": {
      "post": {
        "tags": ["Coupon"],
        "summary": "[학생] 쿠폰 발급",
        "description": "사용자가 쿠폰을 발급받습니다.",
        "operationId": "issueCoupon",
        "parameters": [
          {
            "name": "couponId",
            "in": "path",
            "description": "쿠폰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "422": {
            "description": "재고 소진 / 발급 기간 아님 / 한도 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "쿠폰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "쿠폰 발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseIssueCouponResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/biz-reg-no/verify": {
      "post": {
        "tags": ["StoreClaim"],
        "summary": "[점주] 사업자등록번호 유효성 검증",
        "description": "사업자등록번호의 유효성을 검증합니다.",
        "operationId": "verifyBizRegNo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BizVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseBizVerificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup/student": {
      "post": {
        "tags": ["Auth"],
        "summary": "[학생] 학생 회원가입",
        "description": "학생 회원을 등록합니다.",
        "operationId": "signupStudent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StudentSignupRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup/owner": {
      "post": {
        "tags": ["Auth"],
        "summary": "[점주] 점주 회원가입",
        "description": "점주 회원을 등록합니다.",
        "operationId": "signupOwner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OwnerSignupRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/auth/signup/council": {
      "post": {
        "tags": ["Auth"],
        "summary": "[학생회] 학생회 회원가입",
        "description": "학생회 회원을 등록합니다.",
        "operationId": "signupcouncil",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CouncilSignupRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 토큰 갱신",
        "description": "RefreshToken으로 AccessToken을 갱신합니다.",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "토큰 갱신 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseLoginResponse"
                }
              }
            }
          },
          "404": {
            "description": "사용자 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않은 RefreshToken",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 로그아웃",
        "description": "사용자를 로그아웃 처리합니다.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "로그아웃 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 로그인",
        "description": "아이디와 비밀번호로 로그인합니다.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "인증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "로그인 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseLoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "로그인 실패 (아이디/비밀번호 불일치)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/find-password/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 비밀번호 재설정 - 인증 확인 및 임시 토큰 반환",
        "description": "인증번호 검증 후 비밀번호 재설정을 위한 임시 토큰을 반환합니다.",
        "operationId": "verifyCodeForFindPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/find-password/send-code": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 비밀번호 찾기 - 인증번호 발송",
        "description": "아이디와 이메일이 일치하는지 확인 후 인증번호를 발송합니다.",
        "operationId": "sendCodeForFindPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindPasswordSendCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/auth/find-password/reset": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 비밀번호 재설정",
        "description": "비밀번호 재설정 토큰을 사용하여 새 비밀번호로 변경합니다.",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/auth/find-id/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 아이디 찾기 - 인증 확인 및 아이디 반환",
        "description": "인증번호 검증 후 가입된 아이디를 반환합니다.",
        "operationId": "verifyCodeForFindId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/find-id/send-code": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 아이디 찾기 - 인증번호 발송",
        "description": "가입된 이메일로 인증번호를 발송합니다.",
        "operationId": "sendCodeForFindId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendEmailCodeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/auth/email/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 회원 가입용 이메일 인증 확인",
        "description": "회원 가입용 이메일 인증 코드를 검증합니다. (true: 검증 (일치) 완료, false: 검증 실패 (코드 불일치 및 이미 등록된 이메일)",
        "operationId": "verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/auth/email/send-code": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 회원 가입용 이메일 인증 발송",
        "description": "회원 가입용 이메일 인증 코드를 전송합니다.",
        "operationId": "send",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendEmailCodeRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/auth/complete-social-signup": {
      "post": {
        "tags": ["Auth"],
        "summary": "[공통] 소셜 회원가입 완료",
        "description": "소셜 로그인 후 추가 정보를 입력하여 회원가입을 완료합니다.",
        "operationId": "completeSocialSignup",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CompleteSocialSignupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원가입 완료 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseLoginResponse"
                }
              }
            }
          },
          "404": {
            "description": "사용자 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 소셜 정보",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/universities/{universityId}/organizations/{organizationId}/partnerships": {
      "get": {
        "tags": ["Admin Partnership"],
        "summary": "조직별 제휴 목록 조회",
        "description": "특정 대학의 특정 조직의 모든 제휴를 조회합니다.",
        "operationId": "getPartnershipsByOrganization",
        "parameters": [
          {
            "name": "universityId",
            "in": "path",
            "description": "대학 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "조직 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseListPartnershipResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin Partnership"],
        "summary": "[관리자] 제휴 단건 등록",
        "description": "특정 대학의 특정 조직에 제휴를 단건으로 등록합니다.",
        "operationId": "createPartnership",
        "parameters": [
          {
            "name": "universityId",
            "in": "path",
            "description": "대학 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "조직 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "상점 또는 조직 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (관리자 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "제휴 등록 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 등록된 제휴",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/stores/upload": {
      "post": {
        "tags": ["Admin"],
        "summary": "[관리자] 상점 데이터 엑셀 업로드",
        "description": "상권 데이터를 엑셀로 업로드하여 DB에 저장 및 보정합니다.",
        "operationId": "uploadStoreData",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "엑셀 파일 (.xlsx)",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "잘못된 파일",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "업로드 성공 (작업 시작됨)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseString"
                }
              }
            }
          },
          "500": {
            "description": "서버 에러",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/store-claims/{claimId}/reject": {
      "post": {
        "tags": ["StoreClaim"],
        "summary": "[관리자] 상점 소유권 요청 반려",
        "description": "상점 소유권 요청을 반려합니다.",
        "operationId": "reject",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreClaimRejectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/admin/store-claims/{claimId}/approve": {
      "post": {
        "tags": ["StoreClaim"],
        "summary": "[관리자] 상점 소유권 요청 승인",
        "description": "상점 소유권 요청을 승인합니다.",
        "operationId": "approve",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/admin/partnerships/upload": {
      "post": {
        "tags": ["Admin Partnership"],
        "summary": "[학생회/관리자] 제휴 엑셀로 등록",
        "description": "엑셀 파일을 업로드하여 제휴 정보를 일괄 등록/수정합니다.",
        "operationId": "uploadPartnershipData",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "대상 조직 ID (관리자용)",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "엑셀 파일",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "데이터 검증 실패 (에러 메시지 포함)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "업로드 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/admin/events": {
      "post": {
        "tags": ["Admin Event"],
        "summary": "[관리자] 이벤트 등록",
        "description": "새로운 이벤트를 등록합니다.",
        "operationId": "createEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CreateEventRequest"
                  },
                  "images": {
                    "type": "array",
                    "description": "이벤트 이미지",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "이벤트 등록 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseLong" }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 데이터",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/universities/{universityId}": {
      "delete": {
        "tags": ["University"],
        "summary": "[관리자] 대학 삭제",
        "description": "대학을 삭제합니다.",
        "operationId": "deleteUniversity",
        "parameters": [
          {
            "name": "universityId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["University"],
        "summary": "[관리자] 대학 수정",
        "description": "대학 정보를 수정합니다.",
        "operationId": "updateUniversity_1",
        "parameters": [
          {
            "name": "universityId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUniversityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}": {
      "get": {
        "tags": ["Store"],
        "summary": "[학생] 상점 단건 조회",
        "description": "상점 ID로 상점의 상세 정보를 조회합니다.",
        "operationId": "getStore",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "상점 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseStoreResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Store"],
        "summary": "[점주] 상점 삭제",
        "description": "상점을 삭제합니다. (본인 상점만 가능)",
        "operationId": "deleteStore",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "204": {
            "description": "상점 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Store"],
        "summary": "[점주] 상점 정보 수정",
        "description": "상점 정보를 수정합니다. (본인 상점만 가능)",
        "operationId": "updateStore",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "description": "상점 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateStoreRequest"
                  },
                  "images": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "409": {
            "description": "이미 존재하는 상점 이름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "상점 수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상점 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/stores/{storeId}/item-categories/{categoryId}": {
      "delete": {
        "tags": ["ItemCategory"],
        "summary": "[점주] 상품 카테고리 삭제",
        "description": "상품 카테고리를 삭제합니다. (사용 중인 상품이 있으면 삭제 불가)",
        "operationId": "deleteItemCategory",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "204": {
            "description": "카테고리 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "409": {
            "description": "상품이 연결되어 있어 삭제 불가",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["ItemCategory"],
        "summary": "[점주] 상품 카테고리 수정",
        "description": "상품 카테고리 이름을 수정합니다.",
        "operationId": "updateItemCategory",
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": { "type": "string" }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/store-news/{newsId}": {
      "get": {
        "tags": ["StoreNews"],
        "summary": "[공통] 소식 상세 조회",
        "description": "소식 상세 정보를 조회합니다.",
        "operationId": "getStoreNews",
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "소식 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseStoreNewsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["StoreNews"],
        "summary": "[점주] 소식 삭제",
        "description": "소식을 삭제합니다.",
        "operationId": "deleteStoreNews",
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "소식 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["StoreNews"],
        "summary": "[점주] 소식 수정",
        "description": "소식을 수정합니다.",
        "operationId": "updateStoreNews",
        "parameters": [
          {
            "name": "newsId",
            "in": "path",
            "description": "소식 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "description": "변경할 소식 이미지 목록",
                    "items": { "type": "string", "format": "binary" }
                  },
                  "request": {
                    "$ref": "#/components/schemas/UpdateStoreNewsRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/reviews/{reviewId}": {
      "delete": {
        "tags": ["Review"],
        "summary": "[공통] 리뷰 삭제",
        "description": "작성한 리뷰 또는 답글을 삭제합니다. (본인만 가능)",
        "operationId": "deleteReview",
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "description": "리뷰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "204": {
            "description": "리뷰 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "404": {
            "description": "리뷰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 리뷰 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Review"],
        "summary": "[공통] 리뷰 수정",
        "description": "작성한 리뷰 또는 답글을 수정합니다. (본인만 가능)",
        "operationId": "updateReview",
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "description": "리뷰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateReviewRequest"
                  },
                  "images": {
                    "type": "array",
                    "description": "리뷰 이미지 목록",
                    "items": { "type": "string", "format": "binary" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "리뷰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 리뷰 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "리뷰 수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/organizations/{organizationId}": {
      "delete": {
        "tags": ["Organization"],
        "summary": "[학생회] 소속 삭제",
        "description": "소속을 삭제합니다.",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Organization"],
        "summary": "[학생회] 소속 수정",
        "description": "소속 정보를 수정합니다.",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/items/{itemId}": {
      "get": {
        "tags": ["Item"],
        "summary": "[공통] 상품 단건 조회",
        "description": "상품 ID로 상품의 상세 정보를 조회합니다.",
        "operationId": "getItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "상품 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "상품 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Item"],
        "summary": "[점주] 상품 삭제",
        "description": "상품을 삭제합니다. (본인 상점만 가능)",
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "상품 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "204": {
            "description": "상품 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상품 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Item"],
        "summary": "[점주] 상품 수정",
        "description": "상품 정보를 수정합니다. (본인 상점만 가능)",
        "operationId": "updateItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "상품 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["image", "request"],
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "변경할 상품 이미지",
                    "format": "binary"
                  },
                  "request": {
                    "$ref": "#/components/schemas/UpdateItemRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "상품 수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "상품 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/coupons/{couponId}": {
      "delete": {
        "tags": ["Coupon"],
        "summary": "[점주] 쿠폰 삭제",
        "description": "쿠폰을 삭제합니다. (본인 상점만 가능)",
        "operationId": "deleteCoupon",
        "parameters": [
          {
            "name": "couponId",
            "in": "path",
            "description": "쿠폰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "쿠폰 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "404": {
            "description": "쿠폰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Coupon"],
        "summary": "[점주] 쿠폰 수정",
        "description": "쿠폰 정보를 수정합니다. (본인 상점만 가능)",
        "operationId": "updateCoupon",
        "parameters": [
          {
            "name": "couponId",
            "in": "path",
            "description": "쿠폰 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateCouponRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "쿠폰 수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "403": {
            "description": "권한 없음 (본인 소유 상점 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "쿠폰 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{userId}/role": {
      "patch": {
        "tags": ["Admin"],
        "summary": "[관리자] 사용자 권한 수정",
        "description": "사용자의 권한을 수정합니다.",
        "operationId": "updateUserRole",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserRoleUpdateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "404": {
            "description": "사용자 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/store-claims/{claimId}/memo": {
      "patch": {
        "tags": ["StoreClaim"],
        "summary": "[관리자] 상점 소유권 요청 관리자 메모 등록 및 수정",
        "description": "상점 소유권 요청에 관리자 메모를 남깁니다.",
        "operationId": "updateMemo",
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      }
    },
    "/api/admin/partnerships/{partnershipId}": {
      "delete": {
        "tags": ["Admin Partnership"],
        "summary": "[관리자] 제휴 삭제",
        "description": "제휴를 삭제합니다.",
        "operationId": "deletePartnership",
        "parameters": [
          {
            "name": "partnershipId",
            "in": "path",
            "description": "제휴 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "404": {
            "description": "제휴 정보 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "제휴 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Admin Partnership"],
        "summary": "[관리자] 제휴 혜택 수정",
        "description": "제휴 내용을 수정합니다.",
        "operationId": "updatePartnershipBenefit",
        "parameters": [
          {
            "name": "partnershipId",
            "in": "path",
            "description": "제휴 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartnershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "제휴 혜택 수정 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          },
          "404": {
            "description": "제휴 정보 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (관리자 아님)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/events/{eventId}": {
      "delete": {
        "tags": ["Admin Event"],
        "summary": "[관리자] 이벤트 삭제",
        "description": "이벤트를 삭제합니다.",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "이벤트 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "404": {
            "description": "이벤트 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwaggerErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "이벤트 삭제 성공",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/CommonResponseVoid" }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Admin Event"],
        "summary": "[관리자] 이벤트 수정",
        "description": "이벤트 정보를 수정합니다.",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "이벤트 ID",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["request"],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UpdateEventRequest"
                  },
                  "images": {
                    "type": "array",
                    "description": "이벤트 이미지",
[...]
